@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend base */
@layer base {
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #36373b;
	}

	::-webkit-scrollbar-thumb {
		background: #181a1c;
	}
	html {
		width: 100%;
		height: 100%;
		background-color: #36393f;
	}
	.rollDown{
		animation: rollDown 0.5s ease-in-out;
		z-index: 9999;
	}
	.appear{
		animation: appear 0.5s ease-in-out forwards;
		z-index: 9999;
	}

	@keyframes appear {
		0% {
			transform: translateY(-5px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes rollDown {
		0% {
			opacity: 0;
			transform: translateY(-5px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
